<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
    </head>
    <body>
        <input placeholder="Enter your number" id="txtMessage"/>
        <br><br>
        <button id="btnSend">Send number</button>
    </body>
    <script src="bundle.js"></script>
</html>